body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, rgb(243, 176, 176), rgb(159, 159, 233))
}

h1{
    text-align: center;
    border: 2px solid rgb(121, 117, 117);
    padding: 1% 1%;
    background: linear-gradient(to right, rgb(159, 159, 233), rgb(243, 176, 176));
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.4);
}

h1:hover{
    text-align: center;
    border: 2px solid rgb(121, 117, 117);
    padding: 1% 1%;
    background: linear-gradient(to right, rgb(243, 176, 176), rgb(159, 159, 233));
    font-style: italic;
    width: 51%;
    margin: 0 auto;   
    transform: scale(1.03);
}

.text{
    text-align: center;
    border: 2px solid rgb(121, 117, 117);
    padding: 1% 5%;
    font-style: italic;
    width: 25%;
    margin: 2% auto;
    color: black;
    background: linear-gradient(to right, rgb(159, 159, 233), rgb(243, 176, 176));
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.4);

}

.container{
    display: flex;
    justify-content: center;
}

.text-without-shadow{
    border: 2px solid rgb(121, 117, 117);
    padding: 1% 2.5%;
    font-style: italic;
    margin: 1 auto;
    color: black;
    background: linear-gradient(to right, rgb(159, 159, 233), rgb(243, 176, 176));
    box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.4);
    display: inline-block;
}

.input{
    text-align: center;
    border: 2px solid rgb(121, 117, 117);
    padding: 1% 5%;
    font-style: italic;
    width: 25%;
    margin: 2% auto;
    color: black;
    background: linear-gradient(to right, rgb(159, 159, 233), rgb(243, 176, 176));
}